.image {
  width: 30%;
}

.p-width {
  width: 75%;
}

.text-color {
  color: rgb(85, 152, 218);
}

.cardSt {
  background-color: rgb(22, 27, 34);
  box-shadow: 0 0 10px rgb(85, 152, 218);
  margin: 0 auto;
  height: 200px;
}